!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    = favicon_link_tag ("favicon.ico")
    = stylesheet_link_tag("screen")
    = javascript_include_tag :application
    %title
      bookyt.ch

  %body
    #page_wrapper
      #navigation
        %h1#logo
          = link_to "bookyt", root_path
        = render_navigation(:context => :main)
        = render_navigation(:context => :help)

      #content
        = yield

      #empty